@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
}

#shopify{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  height: 10vh;
  left: 9vw;
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
#sobretexto h1{
  color: white;
  font-family: "Liter", serif;
  letter-spacing: 2px;  
  font-size: 29px;
  text-align: center;
  margin: 6px;
  
}
#sobretexto h3{
  color: rgb(255, 255, 255);
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 17px;
  margin: 20px;
  letter-spacing: 1px;
}
#texto{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9px;
}
#texto input{
  height:5vh ;
  width: 21vw;
  outline: none;
  margin-right: 12px;
  background-color: white;
  border: none;
  font-size: px;
  border-radius: 3px;
}
#texto button{
  height:5vh ;
  width: 9vw;
  background-color: rgb(51, 47, 47);
  color: white;
  margin-top:2px;
  border: none;
   border-radius: 3px;
   font-size: 8px;
}

#letras{
  color: white;
  font-family: "poppins","serif";
  margin-top: 1.5vw;

}
#texto input::placeholder{
    padding-left: 20px;
    color: rgb(201, 203, 203);
  }

.content{
  position: absolute;
}
.image img{
  width: 100vw;
}
.baner{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}
#conteiner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 30vh;
 
}
.parte1{
  font-family: "poppins","serif";
  font-size: 12px;
  width: 25vw;
 
}
#img{
  display: flex;
  justify-content: center;
  gap: 3px;
}
#batata{
  display: flex;
  justify-content: center;
  align-items: center;
   font-family: "poppins","serif";
  font-size: 10px;
  margin: 2vw;
    
 
}
.pizza{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
#buttons{
  text-align: center;
  margin: 50px;
}
button{
   background-color:#008060;
  color: white; 
   border: none;
  padding: 15px 32px; 
   font-size: 8px; 
   cursor: pointer;
  border-radius: 5px; 
  transition: background-color 0.3s ease; 

}
.parte1 img{
  margin:2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}