@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
}

#shopify{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  height: 10vh;
  left: 9vw;
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
#sobretexto h1{
  color: white;
  font-family: "Liter", serif;
  letter-spacing: 2px;  
  font-size: 32px;
  text-align: center;
  margin: 6px;
  
}
#sobretexto h3{
  color: rgb(255, 255, 255);
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 19px;
  margin: 20px;
  letter-spacing: 1px;
}
#texto{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9px;
}
#texto input{
  height:5vh ;
  width: 21vw;
  outline: none;
  margin-right: 12px;
  background-color: white;
  border: none;
  font-size: px;
  border-radius: 3px;
}
#texto button{
  background-color: rgb(51, 47, 47);
  color: white;
  font-weight: bold;
 padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
}

#letras{
  color: white;
  font-family: "Poppins", serif;
  margin-top: 1.5vw;
  font-size: 7px;
  justify-content: center;
  margin-left: 30px;

}
#texto input::placeholder{
    padding-left: 20px;
    color: rgb(201, 203, 203);
  }

.content{
  position: absolute;
}
.image img{
  width: 100vw;
}
.baner{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}
#conteiner{
 font-family: Arial, sans-serif;
 text-align: center;
 padding: 15px;
 display: flex;
 justify-content: center;
 gap: 20px;
 margin-top: 2px;
}
.parte1{
width: 250px;
text-align: center;
gap: 25px;
}
.parte1 img{
 width: 40px;
  height: 40px;
  margin-bottom: 15px;
}
.parte1 h3{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
.parte1 p{
  font-size: 14px;
  color: gray;
}
#img{
  display: flex;
  justify-content: center;
  margin: 6vw;
}
#batata{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  margin: 2vw;
}
.pizza{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family:"Poppins", serif ;
}
#buttons{
  text-align: center;
  margin: 30px;
}
button{
   background-color:#008060;
  color: white; 
   border: none;
  padding: 15px 32px; 
   font-size: 9px; 
   cursor: pointer;
  border-radius: 3px; 
 
}
.parte1 img{
  margin:2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#faq{
  color:  #1C5F53;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 12px;
  font-family: "Noto Sans", serif;
}
#pai{
   margin-left: 70px;  
   margin-right: 70px;
}
#cor{
   background-color: #FAF9F8;
   margin-left: 70px;
   margin-right: 70px;
   height: 60vh;
 
}